#sendMessage.input-group
  input#btn-input.form-control.input-sm(type='text', placeholder='Type your message here...')                    
  span.input-group-btn
    button#btn-chat.btn.btn-warning.btn-sm(ng-click='addMessage(1);') Send
#moodMessage.input-group
  a.btn.btn-warning.btn-sm(ng-click='addMessage(3);') Too Slow
  a.btn.btn-danger.btn-sm(ng-click='addMessage(4);') Too Fast
#codeReading.input-group
  toggle-switch#switch(ng-model="following" ng-click='followReading();' knob-label="Follow")
  input#codeInput.input-sm(type="text" placeholder="Reading Code")