div(ng-include='"components/navbar/navbar.html"')
.container
  .row
    .col-sm-12
      h1 Create lecture
    .col-sm-12
      form.form(name='form', ng-submit='create(form)', novalidate='')
        .form-group(ng-class='{ "has-success": form.name.$valid && submitted,\
        "has-error": form.name.$invalid && submitted }')
          label Name
          input.form-control(type='text', name='name', ng-model='lecture.name', required='')
          p.help-block(ng-show='form.name.$error.required && submitted')
            | A name is required
          p.help-block(ng-show='form.email.$error.mongoose')
            | {{ errors.email }}

        .form-group(ng-class='{ "has-success": form.description.$valid && submitted,\
        "has-error": form.description.$invalid && submitted }')
          label Description
          textarea.form-control(name='description', ng-model='lecture.description', required='')
          p.help-block(ng-show='form.description.$error.required && submitted')
            | A description is required
          p.help-block(ng-show='form.email.$error.mongoose')
            | {{ errors.email }}

        .form-group(ng-class='{ "has-success": form.pdf_file.$valid && submitted,\
        "has-error": form.pdf_file.$invalid && submitted }')
          label PDF File
          input(name='pdf_file', type='file', file='')
          p.help-block(ng-show='form.pdf_file.$error.required && submitted')
            | A file is required

        div
          button.btn.btn-inverse.btn-lg.btn-login(type='submit')
            | Create
  hr