div(ng-include='"components/navbar/navbar.html"')

.row.col-md-12.slide-animation(ng-if="isProf == true" ng-show="isShow()")
    #subNavBar(ng-if="isProf == true" ng-include='"components/subNavbar/subNavbar.html"')

.row
    .col-md-9
        #pdfDisplay.carousel.slide
        div.item
            canvas#slides
        a(href='', ng-hide='sync')#prev.left.carousel-control
            span.icon-prev
        a(href='', ng-hide='sync')#next.right.carousel-control
            span.icon-next

    .col-md-3
        #chatDisplay.panel.panel-primary
            .panel-heading
                span.glyphicon.glyphicon-comment &nbsp;Chat

            #chat.panel-body
              ul.chat
                li.left.clearfix(ng-repeat='msg in messages')
                    .header(ng-if='msg.type==1')
                      strong.primary-font {{msg._author.name}}
                      small.pull-right.text-muted
                        span.glyphicon.glyphicon-time {{msg.created_at | date:'yyyy-MM-dd HH:mm'}}
                    p(class="msg_{{msg.type}}") {{msg.text}}

#footer(ng-if="isProf == false" ng-include='"components/footer/footer.html"')