html, body
  height 100%

.row
  margin 0
  
//PDF
#pdf
  padding 0
  
#pdfDisplay
  margin-top -30px

.item
  text-align center

.carousel-control.right
.carousel-control.left
  background-image none

//SUBNAVBAR
#subNavBar
  margin -10px 0 5px 0

#newReadings
  float right
  margin -10px 0 10px 0
  
#code
  padding 0 10px 0 0
  float right
  font-size 18pt

//FOOTER
#footer
  position fixed
  bottom 0
  width 100%
  background-color #f5f5f5
  height 60px

#codeReading
  padding 15px 0 0 25px

#switch
  float right
  border-radius 5px
  margin-left 15px
  
#moodMessage
  float right
  padding-top 5px
  
#sendMessage
  float right
  width 400px
  margin-top 15px
  
//CHAT
.chat
  list-style none
  margin 0
  padding 0
  li
    margin-bottom 10px
    padding-bottom 5px
    border-bottom 1px dotted #B3A9A9
    &.left
      .chat-body
        margin-left 60px
    &.right
      .chat-body
        margin-right 60px
    .chat-body
      p
        margin 0
        color #777777

#chatDisplay div.panel-heading span

#chat.panel #chat.slidedown #chat.glyphicon, #chat.chat #chat.glyphicon
  margin-right 5px

#chat.panel-body
  overflow-y scroll
  
#btn-chat
  margin-top 0

::-webkit-scrollbar-track
  -webkit-box-shadow inset 0 0 6px rgba(0,0,0,0.3)
  background-color #F5F5F5

::-webkit-scrollbar
  width 12px
  background-color #F5F5F5

::-webkit-scrollbar-thumb
  -webkit-box-shadow inset 0 0 6px rgba(0,0,0,.3)
  background-color #555
 
.msg_1
  font-weight normal

.msg_2
  font-style italic
  color #555
  text-align center
  
.msg_3
  font-weight bold
  color #ED9C28
  text-align center
    
.msg_4
  font-weight bold
  color #D2322D
  text-align center