#navInMain
    width 100%
    position fixed
    top 0
    left 0

.hero-unit
    background #4393B9
    color #F5F5F5
    padding 30px 15px
    position relative
    text-align center
    text-shadow 0 1px 0 rgba(0, 0, 0, 0.1)

.footer
    border-top 1px solid #E5E5E5
    margin-top 70px
    padding 30px 0
    text-align center
    
body,
html
  width 100%
  height 100%

body,
h1,
h2,
h3,
h4,
h5,
h6
  font-family "Lato","Helvetica Neue",Helvetica,Arial,sans-serif
  font-weight 700

.lead
  font-size 18px
  font-weight 400

#part1.intro-header
    background url(../assets/images/brain.png) no-repeat center center
    background-size cover

#part2.intro-header
    background url(../assets/images/app.jpg) no-repeat center center
    background-size cover

#part3.intro-header
    background url(../assets/images/injection.jpg) no-repeat center center
    background-size cover

#part4.intro-header
    background url(../assets/images/brain.png) no-repeat center center
    background-size cover

.intro-header
  padding-top 50px
  padding-bottom 50px
  text-align center
  color #f8f8f8

.intro-message
  position relative
  padding-top 20%
  padding-bottom 20%
  & > h1
    margin 0
    text-shadow 2px 2px 3px rgba(0,0,0,0.6)
    font-size 5em
    font-size 3em
  & > h3
    text-shadow 2px 2px 3px rgba(0,0,0,0.6)

.intro-divider
  width 400px
  border-top 1px solid #f8f8f8
  border-bottom 1px solid rgba(0,0,0,0.2)
  width 100%

@media(max-width:767px)
    .intro-message
        padding-bottom 15%
    & > h1
        font-size 3em

    ul
      &.intro-social-buttons
        & > li
          display block
          margin-bottom 20px
          padding 0
          &:last-child
            margin-bottom 0
      &.banner-social-buttons
        & > li
          display block
          margin-bottom 20px
          padding 0
          &:last-child
            margin-bottom 0

.network-name
    text-transform uppercase
    font-size 14px
    font-weight 400
    letter-spacing 2px
    
.content-section-a
  padding 50px 0
  background-color #f8f8f8

.content-section-b
  padding 50px 0
  border-top 1px solid #e7e7e7
  border-bottom 1px solid #e7e7e7

.section-heading
  margin-bottom 30px

.section-heading-spacer
  float left
  width 200px
  border-top 3px solid #e7e7e7

.banner
  padding 100px 0
  color #f8f8f8
  background url(../img/banner-bg.jpg) no-repeat center center
  background-size cover
  h2
    margin 0
    text-shadow 2px 2px 3px rgba(0,0,0,0.6)
    font-size 3em
  ul
    margin-bottom 0
    
@media(max-width:1199px)
    ul.banner-social-buttons
        float left
        margin-top 15px

@media(max-width:767px)
    .banner h2
        margin 0
        text-shadow 2px 2px 3px rgba(0,0,0,0.6)
        font-size 3em

    ul.banner-social-buttons > li
        display block
        margin-bottom 20px
        padding 0

    &:last-child
        margin-bottom 0

.banner-social-buttons
  float right
  margin-top 0

p
  &.copyright
    margin 15px 0 0

//Button Circle
.btn-circle
  width 70px
  height 70px
  margin-top 15px
  padding 7px 16px
  border 2px solid #fff
  border-radius 35px
  font-size 40px
  color #fff
  background 0 0
  -webkit-transition background .3s ease-in-out
  -moz-transition background .3s ease-in-out
  transition background .3s ease-in-out
  i
    &.animated
      -webkit-transition-property -webkit-transform
      -webkit-transition-duration 1s
      -moz-transition-property -moz-transform
      -moz-transition-duration 1s
  &:hover
    i
      &.animated
        -webkit-animation-name pulse
        -moz-animation-name pulse
        -webkit-animation-duration 1.5s
        -moz-animation-duration 1.5s
        -webkit-animation-iteration-count infinite
        -moz-animation-iteration-count infinite
        -webkit-animation-timing-function linear
        -moz-animation-timing-function linear

.btn-circle:hover,
.btn-circle:focus
  outline 0
  color #fff
  background rgba(255,255,255,.1)

@-webkit-keyframes pulse
    0
        -webkit-transform scale(1)
        transform scale(1)

    50%
        -webkit-transform scale(1.2)
        transform scale(1.2)
        -moz-transform scale(1.2)
        transform scale(1.2)

    100%
        -webkit-transform scale(1)
        transform scale(1)
        -moz-transform scale(1)
        transform scale(1)

@-moz-keyframes pulse
    0
        -moz-transform scale(1)
        transform scale(1)

    50%
        -moz-transform scale(1.2)
        transform scale(1.2)

    100%
        -moz-transform: scale(1)
        transform scale(1)