div#navInMain(ng-include='"components/navbar/navbar.html"')

#part1.intro-header
  .container
    .row
      .col-lg-12
        .intro-message
          h2 Welcome on Smart Lecture !
          h4 An easy way to learn together.

//- #part1.intro-header
//-   .container
//-     .row
//-       .col-lg-12
//-         .intro-message
//-           h2 Bienvenue sur Injecteur de cerveau !
//-           h4 Wait, this is in french, I don't speak french !
//-           a.btn.btn-circle.page-scroll(href='#part2')
//-             i.fa.fa-angle-double-down.animated

//- #part2.intro-header
//-   .container
//-     .row
//-       .col-lg-12
//-         .intro-message
//-           h2 Vraiment ?
//-           h4 Well you can use our app to learn it !
//-           a.btn.btn-circle.page-scroll(href='#part3')
//-             i.fa.fa-angle-double-down.animated

//- #part3.intro-header
//-   .container
//-     .row
//-       .col-lg-12
//-         .intro-message
//-           h2 Injection !
//-           h4 That's it, you can read french now ! Try it !
//-           a.btn.btn-circle.page-scroll(href='#part4')
//-             i.fa.fa-angle-double-down.animated

//- #part4.intro-header
//-   .container
//-     .row
//-       .col-lg-12
//-         .intro-message
//-           h2 Welcome on Brain Injector !
//-           h4 See ? Our application is that simple !

footer.footer
  .row
    .md-col-12
      <p>Copyright &copy; Smart Lecture 2015</p>