div(ng-include='"components/navbar/navbar.html"')

.container.theme-showcase
    .col-md-12
        
        #head
            a(ng-show='isProf', href='lecture/create') Add lecture
            h1.page-header Lectures availables

        h2.page-header Most recent uploads
        table.table.table-hover
            tbody
                tr
                    th.text-left Name
                    th.text-left Author
                    th.text-right Actual reading
                    th.text-right Action
                tr(ng-repeat='lecture in newer')
                    td.text-left {{lecture.name}}
                    td.text-left {{lecture._author.name}}
                    td.text-right {{lecture._readings.length}}
                    td.text-right  
                        a(href='lecture/read/{{lecture._id}}') Read

        h2.page-header Favorites lectures
        table.table.table-hover
            tbody
                tr
                    th.text-left Name
                    th.text-left Author
                    th.text-right Actual reading
                    th.text-right Action
                tr(ng-repeat='lecture in favorites')
                    td.text-left {{lecture.name}}
                    td.text-left {{lecture._author.name}}
                    td.text-right {{lecture._readings.length}}
                    td.text-right  
                        a(href='lecture/read/{{lecture._id}}') Read

        h2.page-header All lectures
        table.table.table-hover
            tbody
                tr
                    th.text-left Name
                    th.text-left Author
                    th.text-right Actual reading
                    th.text-right Action
                tr(ng-repeat='lecture in lectures')
                    td.text-left {{lecture.name}}
                    td.text-left {{lecture._author.name}}
                    td.text-right {{lecture._readings.length}}
                    td.text-right  
                        a(href='lecture/read/{{lecture._id}}') Read